* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

h1 {
    font-size: clamp(40px, 8vw, 120px);;
    color: white;
    font-family: "Arimo", sans-serif;
    margin-top: 10px;
}

.wrapper-label {
    display: inline-block;
    background: #6532F8;
    padding:0 15px;
    color: white;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
} 

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 80px auto 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    background-color:#232323;
    border-radius: 20px;
    min-height: 400px;
}

.input {
  display: flex;
  align-items: center;
  justify-content:left;
  gap: 15px;
  padding: 30px;
  flex-wrap: wrap;
}

.movie-input {
  flex: 1; 
  min-width: 180px;
  background-color: #232323;
  border: none;
  border-bottom: 1px solid #F3F6F9;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  outline: none;
}

.movie-input::placeholder {
  color: #aaa;
}

.add-button {
  width: 55px;
  height: 55px;
  background-color: #6532F8;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.add-button * {
  background: transparent !important;
}

.add-button:hover {
  background-color: #7a4bff;
  transform: translateY(-2px);
}

.movie-list {
  margin-top: 50px;
  background-color: #232323;
  padding: 0 60px 40px;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #6532f8 #232323;
  color: #F3F6F9;
}

.movie-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2b2b;
  padding: 20px 30px;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: background-color 0.2s ease, transform 0.1s ease;
  
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.3s forwards;
}


.movie-item:hover {
  background-color: #3a3a3a;
  transform: translateY(-2px);
}

.movie-item input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: #6532f8;
  cursor: pointer;
}

.movie-item span {
  flex-grow: 1;
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
  font-family: "Arimo", sans-serif;
}

.delete-btn {
  position: relative;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete-btn::before,
.delete-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 24px;
  background-color: #b3b3b3;
  transform-origin: center;
  transition: background-color 0.2s, transform 0.2s;
}

.delete-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.delete-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.delete-btn:hover::before {
  background-color: #ff4b4b;
  transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
}

.delete-btn:hover::after {
  background-color: #ff4b4b;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
}

.watched {
  background-color: #1a1a1a;
  opacity: 0.7;
}

.unwatched {
  background-color: #2b2b2b;;
  opacity: 0.7;
}

.crossed {
  text-decoration: line-through;
  color: #888 !important;
}

@media (max-width:767px) {
  h1 {
    font-size: 50px;
    text-align: center;
  }

header {
    margin-top: 40px;
    align-items: center;
}
.container {
  width: 95%;
  margin-top: 30px;
}
.input {
    flex-direction: column;
    align-items: stretch;
  }
.movie-item {
    flex-direction: row;
    padding: 15px 20px;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.movie-list {
padding:0 5px 5px;
}
.movie-input{
  width: 100%;
  font-size: 16px;
}
.add-button{
  width: 45px;
  height: 45px;
  align-self: center;
}
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}